<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row foot">
        <div class="col-sm-12 col-md-6">
            <h3 class="text-secondary">&#169;Ecommerce @MANC:).</h3>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h3><span>Issue OR Query CONTACT US:</span><b>Ecommerce@gmail.com</b></h3>
                </div>
                <div class="col-md-6">
                    <h3>FOLLOW US:</h3>
                    <a href="home" class="mx-3"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                    <a href="home" class="mx-3 text-danger"><i class="fa-brands fa-square-instagram fa-2xl"></i></a>
                    <a href="home" class="mx-3"><i class="fa-brands fa-twitter fa-2xl"></i></a>
                    <a href="home" class="mx-3 text-danger"><i class="fa-brands fa-youtube fa-2xl"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <mat-toolbar color="basic">
<mat-toolbar-row>
 <span class="w-50"><h5 color="disabled">&#169;Ecommerce @MANC:).</h5></span>
 <span class="spacer"></span>
<span class="w-50">
    <span>email: Ecommerce@gmail.com</span>
<a href="" mat-minifab-button color="primary"><mat-icon>facebook</mat-icon></a>
<a href="" mat-minifab-button color="accent"><mat-icon>instagram</mat-icon></a>
<a href="" mat-minifab-button color="primary"><mat-icon>twitter</mat-icon></a>
<a href="" mat-minifab-button color="warn"><mat-icon>youtube</mat-icon></a>
</span>
</mat-toolbar-row>
</mat-toolbar> -->