<div class="container-fluid bgcolor">
  <div class="row">
    <div class="col-sm-12 col-md-6 my-1 ">
      <a href="" class=""><img class="" height="100px" width="" src="./assets/media/logo.png" alt=""></a>
    </div>
     <div class="col-sm-12 col-md-6 ">
      <mat-form-field *ngIf="menuType =='default' || 'user'" class="size w-100" appearance="fill">
        <mat-label>search</mat-label>
          <input matInput type="search" placeholder="product name" (keyup)="searchsuggestion($event)" (blur)="hideproduct()"  #pName>
           <mat-icon matSuffix><a (click)="searchProduct(pName.value)" class="text-decoration-none"> search </a></mat-icon>
  </mat-form-field>
  <ul class="searchResult" *ngIf="searchRelatedData">
    <li *ngFor="let name of searchRelatedData">
      <mat-card><a (mousedown)="directtoPage(name.id)" >{{name.name}}</a></mat-card>
    </li>
    </ul>
     </div>
  </div>
</div>
<mat-toolbar color="basic">
  <mat-toolbar-row class="justify-content-center">
          <ul *ngIf="menuType=='default'">
            <li><a  class="mx-md-2" mat-flat-button color="basic" routerLink="home">HOME</a></li>
          <li><a  class="mx-md-2 " mat-flat-button color="basic" routerLink="seller">SELLER</a></li>
          <li><a  class="mx-md-2 " mat-flat-button color="basic" routerLink="user" >SIGNUP</a></li>
          <!-- <li><a  class="mx-md-2  " mat-flat-button matBadge="{{cartItemNumberShow}}" matBadgeColor="warn" color="basic" routerLink="home">CART</a></li> -->
          <li><a  class="mx-md-2  " mat-flat-button color="basic" routerLink="cart">CART <span>( <span>{{cartItemNumberShow}}</span> )</span></a></li>
          </ul>

          <ul *ngIf="menuType=='user'">
            <li><a  class="mx-md-2" mat-flat-button color="basic" routerLink="home">HOME</a></li>
            <!-- <li><a  class="mx-md-2  " mat-flat-button matBadge="{{cartItemNumberShow}}" matBadgeColor="warn" color="basic" routerLink="home">CART</a></li> -->
            <li><a  class="mx-md-2  " mat-flat-button color="basic" [routerLink]="cartItemNumberShow>0?'cart':null">CART <span>( <span>{{cartItemNumberShow}}</span> )</span></a></li>
           <li><a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button color="basic" routerLink="/myorder/">My Orders</a></li>
           <li> <a class="mx-md-2 mx-sm-1 m-auto"  routerLink=""> <mat-icon>account_circle</mat-icon> {{userName}}  </a></li>
           <li><a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button color="basic" (click)="logout()">logout</a></li>
           </ul>

          <ul *ngIf="menuType=='seller'">
           <li> <a class="mx-md-2 mx-sm-1 m-auto"  routerLink="/seller/sellerproduct"> <mat-icon>account_circle</mat-icon> {{sellerName }} </a></li>
          <li><a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button color="basic" routerLink="/seller/addproduct">Addproduct</a></li>
          <li><a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button color="basic" (click)="logout()">logout</a></li>
          </ul>

          
  </mat-toolbar-row>
</mat-toolbar>






<!-- 
<mat-toolbar class=" navbar-expand-md" color="basic">
   <mat-toolbar-row >
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-4 col-lg-7 m-auto ">
                    <button mat-icon-button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynavbar"><mat-icon>menu</mat-icon></button>
                    <a  class="" color="Basic" >
                      <span >E-commerce:)</span>
                    </a>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-5 size ">
                <mat-form-field class=" width" appearance="fill">
                    <mat-label>search</mat-label>
                       <input matInput class="" >
                       <mat-icon matSuffix><a href="" class="text-decoration-none"> search </a></mat-icon>
              </mat-form-field>
            </div>
        </div>
       </div>
   </mat-toolbar-row>
      <mat-toolbar-row class="navbar-collapse collapse justify-content-center h-50" id="mynavbar">
          <a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button color="basic" routerLink="home">HOME</a>
          <a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button color="basic" routerLink="seller">SELLER</a>
          <a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button color="basic" href="selleraccount">SELAcc</a>
          <a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button color="basic" routerLink="home" >LOGIN/SIGNUP</a>
          <a class="mx-md-2 mx-sm-1 m-auto" mat-flat-button matBadge="0" matBadgeColor="warn" color="basic" routerLink="home">CART</a>
      </mat-toolbar-row>
    </mat-toolbar>  -->



